.btn {
    font-size: rem(16px);
    font-weight: 800;
    border-radius: rem(100px);
    line-height: 1;
    padding: rem(22px) rem(42px);
    text-transform: uppercase;
    display: inline-block;
    border: none;
    background: #FEDB3F;
    color: $black;
    

    @include phones {
        font-size: rem(21px);
        padding: rem(24px) rem(41px);
    }

    &:hover {
        background: #FFD517;
        transition: 1s;
    }
    
    &--theme--yellow {  
        background: #FFD517;
        color: $black;
        cursor: pointer;

        @include phones {
            font-size: rem(18px);
            padding: rem(26px) rem(47px);
        }

        &:hover {
            background: #FEDB3F;
        }
    }

    &--theme--transparent {
        text-transform: inherit;
        font-weight: normal;
        font-size: rem(18px);
        background: transparent;
        color: #fff;

        &:hover {
            background: transparent;
            color: #FEDB3F;
            cursor: pointer;
        }
    }
}