.btn {
    font-size: 1rem;
    font-weight: 800;
    border-radius: 100px;
    line-height: 1;
    padding: 1.37rem 2.62rem;
    text-transform: uppercase;
    display: inline-block;
    border: none;
    background: #FEDB3F;
    color: $black;

    &:hover {
        background: #FFD517;
    }
    
    &--theme--yellow {  
        background: #FFD517;
        color: $black;

        &:hover {
            background: #FEDB3F;
        }
    }

    &--theme--transparent {
        text-transform: inherit;
        font-weight: normal;
        font-size: 1.12rem;
        background: transparent;
        color: #fff;

        &:hover {
            background: transparent;
            color: #FEDB3F;
        }
    }
}