.btn {
    font-size: rem(16px);
    font-weight: 800;
    border-radius: rem(100px);
    line-height: 1;
    padding: rem(22px) rem(42px);
    text-transform: uppercase;
    display: inline-block;
    border: none;
    background: #FEDB3F;
    color: $black;

    &:hover {
        background: #FFD517;
    }
    
    &--theme--yellow {  
        background: #FFD517;
        color: $black;

        &:hover {
            background: #FEDB3F;
        }
    }

    &--theme--transparent {
        text-transform: inherit;
        font-weight: normal;
        font-size: rem(18px);
        background: transparent;
        color: #fff;

        &:hover {
            background: transparent;
            color: #FEDB3F;
        }
    }
}