.features {
    display: flex;
    align-items: center;
    margin-bottom: 67px;
}

.features__item {
    margin-right: 34px;

    &:last-child {
        margin-right: 0;
    }
}

.feature {
    display: flex;
    align-items: center;
}

.feature__icon {
    width: 35px;
    margin-right: 16px;
}

.feature__text {
    font-size: 16px;
    max-width: 90px;
}