.features {
    display: flex;
    align-items: center;
    margin-bottom: 4.37rem;
}

.features__item {
    margin-right: 2.1rem;

    &:last-child {
        margin-right: 0;
    }
}

.feature {
    display: flex;
    align-items: center;
}

.feature__icon {
    width: 2.19rem;
    margin-right: 1rem;
}

.feature__text {
    font-size: 1rem;
    max-width: 5.62rem;
}