.features {
    display: flex;
    align-items: center;
    color: #fff;
    margin-bottom: rem(67px);
}

.features__item {
    margin-right: rem(34px);

    &:last-child {
        margin-right: 0;
    }
}

.feature {
    display: flex;
    align-items: center;
}

.feature__icon {
    margin-right: rem(16px);
}

.features__icon {
    fill: #fff;
    width: rem(35px);
    height: rem(35px);
}

.feature__text {
    font-size: rem(16px);
    max-width: rem(90px);
}