.order-section {
    background: url(../../img/bg-form.png) top center / cover no-repeat;
    color: #fff;
}

.title__form {
    margin-bottom: rem(63px);

    @include tablets {
        margin-bottom: rem(37px);
    }

    @include phones {
        margin-bottom: rem(35px);
    }
}

.form {
    display: flex;

    @include tablets {
        flex-direction: column;
        padding: 0 18%;
    }

    @include phones {
        padding: 0;
    }
}

.form__col {
    flex: 1;
    margin-right: rem(30px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(12px);

    @include tablets {
        margin-bottom: rem(19px);
    }

    @include phones {
        margin-bottom: rem(19px);
    }
}

.form__block {
    flex: 1;
    margin-right: rem(17px);

    &:last-child {
        margin-right: 0;
    }
}

.form__title {
    @include tablets {
        font-size: 18px;
    }

    @include phones {
        line-height: 1.2;
    }
}

.form__input {
    width: 100%;  
    padding: rem(18px) rem(12px);
    border-radius: rem(5px);
    border: solid rem(3px) transparent;

    &--textarea {
        height: rem(152px);
        resize: none;

        @include tablets {
            height: rem(87px);
        }

        @include phones {
            height: rem(92px);
        }
    }

    &:focus {
        border-color: #FEDB3F;
        outline: none;
    }

    @include tablets {
        padding: rem(7px) rem(10px);
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: rem(20px);

    @include phones {
        justify-content: center;
    }
}

.form__controls-indent {
    margin-bottom: rem(45px);

    @include phones {
        margin-bottom: rem(35px);
    }

}

.form__btns {

    @include tablets {
        display: flex;
        justify-content: center;
        padding-left: 37px;
    }

    @include phones {
        padding-left: 40px;
    }
}