.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: rem(24px);
    margin-bottom: rem(65px);
}

.nav {
    margin: 0 rem(30px);
    padding-top: rem(5px);

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.nav__item {
    margin-right: rem(20px);
    margin-bottom: rem(10px);

    &:last-child {
         margin-right: 0;
    }
}

.nav__link {
    font-weight: bold;
    white-space: nowrap;
}

.phone__number.header__phone-number {
    @include tablets {
        display: none;
    }
}

.phone__number {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: rem(22px);
}

.phone-number__icon-elem {
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(5px);
}

.phone-number__icon {
    flex-shrink: 0;
}

.phone-number__text {
    white-space: nowrap;
}



