.hero {
    background: $blue url(../../img/bg-hero.png) top center / cover no-repeat;
    color: $white;
    padding-bottom: rem(68px);

    @include tablets {
        background: #1968B1 url(../../img/bg-hero.png) right 20% bottom/ auto calc(100% - 90px) no-repeat;
    }
}

.herro__title-section {
    width: 50%;
    margin-bottom: rem(60px);

    @include tablets {
       width: 100%;
       flex: 1;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       text-align: center;
    }
}

.herro__icons-section {
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;   
}

.hero__main-title {
    font-weight: bold;
    font-size: rem(48px);
    text-transform: uppercase;
    margin-bottom: rem(17px);
    line-height: 1.2;

    @include tablets {
        font-size: rem(51px);
        padding: 0 2%;
    }

    @include phones {
        line-height: .9;
        font-size: rem(45px);
        padding: 0 4%;
        margin: 12px 0;
    }
}
        
.herro__title-desc {
    font-size: rem(21px);
    margin-bottom: rem(39px);

    @include tablets {
        font-size: rem(23px);
        max-width: 373px;
        margin: 0 auto;
        margin-bottom: rem(45px);
    }

    @include phones {
        font-size: rem(20px);
        margin-bottom: rem(47px);
    }
}
    