.hero {
    background: $blue url(../../img/bg-hero.png) top center / cover no-repeat;
    color: $white;
    padding-bottom: 4.25rem;
}

.herro__title-section {
    width: 50%;
    margin-bottom: 3.75rem;
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;   
}

.hero__main-title {
    font-weight: bold;
    font-size: 3rem;
    text-transform: uppercase;
    line-height: 1.2;
}
        
.herro__title-desc {
    font-size: 1.31rem;
    margin-bottom: 1.68rem;
}
    