.radio {
    display: flex;
    cursor: pointer;
    align-items: center;
    user-select: none;
    margin-right: 0.94rem;

    &--checkbox {
       .radio__visible {
           border-radius: 0.31rem;

           &::before {
            background: url(../../../img/icons/tick.png) center center no-repeat;
        }
       } 
    }
}

.radio__elem {
    display: none;

    &:checked ~ .radio__visible {
        &::before {
            display: block;
        }
    }
}

.radio__visible {
    width: 1.56rem;
    height: 1.56rem;
    position: relative;
    border-radius: 50%;
    background: #fff;
    margin-right: 10px;

    &::before {
        content: "";
        width: 0.81rem;
        height: 0.81rem;
        border-radius: 50%;
        background: #FEDB3F;
        position: absolute;
        display: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}