.reviews-section {
    display: flex;
    margin-bottom: rem(180px);
}

.reviews__display {
    background: #F8FAF9;
    padding: rem(42px) rem(40px) rem(42px);
    margin-bottom: rem(5px);
}

.reviews__display-inner {
    display: flex;

    @include tablets {
       flex-direction: column; 
       text-align: center;
       align-items: center;
    }
}

.reviews__avatar {
    max-width: rem(253px);
    height: rem(270px);

    @include tablets {
        max-width: rem(130px);
        height: rem(130px);
     }
}

.reviews-avatar__img {
    object-fit: cover;
    max-width: 100%;
    // height: 100%;
}

.reviews__content {
    flex: 1;
    margin-left: rem(40px);
}

.reviews__title {
    font-weight: bold;
    font-size: rem(27px);
    margin: rem(29px) 0 rem(16px);
}

.reviews__text {
    font-size: rem(18px);
    line-height: 1.2;
    color: $gray;
    margin-bottom: rem(50px);
}

.reviews__author {
    font-weight: 500;
    color: #292929;
}

.reviews__switcher {
    display: flex;
    justify-content: center;
    align-items: center;
}