.section {
    height: 100vh;
    min-width: rem(320px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-weight: bold;
    font-size: rem(48px);
    margin-bottom: rem(32px);
    text-align: center;
    text-transform: uppercase;
}

/**/
.headline {
    text-align: center;  
    margin-bottom: rem(52px);

    @include phones {
        margin-bottom: rem(75px);
    }
}

.headline__title {
    margin-bottom: rem(20px);

    @include phones {
        margin-bottom: rem(5px);
        letter-spacing: rem(-2px);
    }
}


.headline__subtitle {
    display: inline-block;
    color: #666666;
    margin: 0 27%;

    @include phones {
        margin: 0 8%;
    }
}

/**/
.benefits {
    display: flex;
    /**/
    flex-wrap: wrap;
    text-align: center;

    @include phones {
        flex-direction: column;
    }
}

.benefits__item {
    position: relative;
    margin-left: rem(20px);
    flex: 1;
    padding: 0 3%;

    @include phones {
        display: flex;
        text-align: left;
        padding: 0;
        margin-bottom: rem(19px);
    }

    &::before {
        content: url("../../img/decor/circles.svg");
        position: absolute;
        top: rem(60px);
        right: 0;
        transform: translateX(50%);

        @include tablets {
            display: none;
        }
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }

}

/**/
.benefit {
    // text-align: center;

    @include phones {
        
    }
}

.benefit__img {
    margin-bottom: rem(20px);

    @include phones {
        margin-bottom: 0;
        margin-right: rem(15px);
    }
}

.benefit__img-wrapper {
    display: inline-block;
    width: rem(128px);
    height: rem(128px);
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
}

.benefit__icon {
    width: rem(68px);
    height: rem(68px);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-weight: bold;
    font-size: rem(27px);
    margin-bottom: rem(20px);
}

.benefit__desc {
    font-weight: 300;
    color: #666666;
}