.section {
    height: 100vh;
    min-width: 40.62rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section__title {
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
    text-transform: uppercase;
}

/**/
.headline {
    text-align: center;  
    margin-bottom: 3.12rem;
}

.headline__title {
    margin-bottom: 1.06rem;
}

.headline__subtitle {
    display: inline-block;
    color: #666666;
    margin: 0 27%;
}

/**/
.benefits {
    display: flex;
    /**/
    flex-wrap: wrap;
    text-align: center;
}

.benefits__item {
    position: relative;
    flex: 1;
    padding: 0 3%;

    &::before {
        content: url("../../img/decor/circles.svg");
        position: absolute;
        top: 3.75rem;
        right: 0;
        transform: translateX(50%);
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;

        &::before {
            display: none;
        }
    }

}

/**/
.benefits__item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
}

.benefit__img-wrapper {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    position: relative;
    background: #F2F5F4;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 1.25rem;
}

.benefit__icon {
    width: 4.25rem;
    height: 4.25rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.benefit__title {
    font-weight: bold;
    font-size: 1.69rem;
    margin-bottom: 1.25rem;
}

.benefit__desc {
    font-weight: 300;
    color: #666666;
}