.social {
   display: flex; 
}

.social__item {
    display: flex;
    align-items: flex-end;
    margin-right: rem(14px);


    &:last-child {
        margin-right: 0;
    }
}

.social__icon {
    fill: #B3B3B3;
    width: rem(20px);
    height: rem(20px);

    @include phones {
        width: rem(23px);
    height: rem(23px);
    }
    
    &:hover {
        fill: #292929;
        transition: 1s;
    }
}
